<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" 
    autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li><a (click)="navigate()">Home</a> | <a [routerLink]="['Home']"></a></li>
      <li><a (click)="navigate()">About</a> | <a [routerLink]="['About']"></a></li>
      <li><a (click)="navigate()">todo</a> | <a [routerLink]="['todo-app']"></a></li>
     
    </ul>
  </div>
</nav>
  <section class="main">
   
  

    
    <ul class="todo-list">
      <li *ngFor="let todo of todos | async" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" 
          [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="deleteTodo(todo.id)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer">
  </footer>
</section>

